<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>对象</title>
<script type="text/javascript">
//1概述
//1.1生成方法
window.onload = function(){
	//JavaScript的所有数据都可以被视为对象。
	//所谓对象，就是一种无序的数据集合，由若干个“键值对”（key-value）构成
	var o = {
			p:"Hello World"
	};
	var o = {
			p1:"Hello",
			p2:'World'
	};
	var o1 = {};
	var o2 = new Object();
	var o3 = Object.create(Object.prototype);
};
//1.2键名
window.onload = function(){
	//对象的所有键名都是字符串，所以加不加引号都可以。上面的代码也可以写成下面这样
	var o = {
			'p':'Hello World'
	};
	//如果键名是数值，会被自动转为字符串。
	var o = {
			1:'a',
			3.2:'b',
			1e2:true,
			1e-2:true,
			.234:true,
			0xFF:true
	};
	window.alert(o);
	// Object {
	//  1: "a",
	//  3.2: "b",
	//  100: true,
	//  0.01: true,
	//  0.234: true,
	//  255: true
	//}
	var o = {
			'1p':'Hello World',
			'h w':'Hello World',
			'p+q':'Hello World'
	};
	//上面对象的三个键名，都不符合标识名的条件，所以必须加上引号
	//注意，JavaScript的保留字可以不加引号当作键名
	var obj = {
			for:1,
			class:2
	};
};
//1.3属性
window.onload = function(){
	//如果一个属性的值为函数，通常把这个属性称为“方法”，它可以像函数那样调用。
	var o = {
			p:function(x){
				return 2 * x;
			}
	};
	window.alert(o.p(1));//2
	var o = {
			p:123,
			m:function(){
				//...
			},
	};
	//属性可以动态创建，不必在对象声明时就指定
	var obj = {};
	obj.foo = 123;
	window.alert(obj.foo);//123
};
//1.4对象的引用
window.onload = function(){
	var o1 = {};
	var o2 = o1;
	o1.a = 1;
	window.alert(o2.a);//1
	o2.b = 2;
	window.alert(o1.b);//2
	
	var o3 = {};
	var o4 = o3;
	o3 = 1;
	window.alert(o4);//{}
	//但是，这种引用只局限于对象，对于原始类型的数据则是传值引用，也就是说，都是值的拷贝
	var x = 1;
	var y = x;
	x = 2;
	window.alert(y);//1
};
//1.5表达式还是语句?
window.onload = function(){
	eval('{foo: 123}'); // 123
	eval('({foo: 123})'); // {foo: 123}
	//上面代码中，如果没有圆括号，eval将其理解为一个代码块；加上圆括号以后，就理解成一个对象
};
//2属性的操作
//2.1读取属性
window.onload = function(){
	var o = {
			p:'Hello World'
	};
	window.alert(o.p);
	window.alert(o['p']);
	//window.alert(o[p]);//Uncaught ReferenceError: p is not defined
	
	var o = {
			0.7:'Hello World'
	};
	window.alert(o['0.7']);
	window.alert(o[0.7]);
	//方括号运算符内部可以使用表达式。
	var o = {
			'helloworld':'hw',
			6:6
	};
    window.alert(o['hello' + 'world']);
	window.alert(o[3+3]);
	//数值键名不能使用点运算符（因为会被当成小数点），只能使用方括号运算符
	var obj = {};
	//obj.0xFF
	// SyntaxError: Unexpected token
	obj[0xFF]
	// true
};
//2.2检查变量是否声明
window.onload = function(){
	// 检查a变量是否被声明
	//if (a) {...} // 报错

	//if (window.a) {...} // 不报错
	//if (window['a']) {...} // 不报错
	if('a' in window){
		//变量a声明过
	}else{
		//变量a未声明过
	}
};
//2.3属性的赋值
window.onload = function(){
	o.p = 'abc';
	o['p'] = 'abc';
	//JavaScript允许属性的“后绑定”,也就是说，你可以在任意时刻新增属性，没必要在定义对象的时候，就定义好属性。
	var o = {p:1};
	//等价于
	var o = {};
	o.p = 1;
};
//2.4查看所有的属性
window.onload = function(){
	var o = {
			key1:1,
			key2:2
	};
	window.alert(Object.keys(o));// ['key1', 'key2']
};
//2.5delete命令
window.onload = function(){
	var o = {p:1};
	window.alert(Object.keys(o));
	window.alert(delete o.p);//true
	window.alert(o.p);
	window.alert(Object.keys(o));
	//只有一种情况，delete命令会返回false，那就是该属性存在，且不得删除。
	var o = Object.defineProperty({},'p',{
		value:123,
		configurable:false
	});
	window.alert(o.p);
	window.alert(delete o.p);//false
	//另外，需要注意的是，delete命令只能删除对象本身的属性，无法删除继承的属性
    var o = {};
	delete o.toString // true
	o.toString // function toString() { [native code] }
	//delete命令不能删除var命令声明的变量，只能用来删除属性
	var p = 1;
	delete p;//false
	delete window.p;//false
};
//2.6in运算符
window.onload = function(){
	//in运算符用于检查对象是否包含某个属性（注意，检查的是键名，不是键值)
	// 假设变量x未定义
	
	// 写法一：报错
	if (x) { return 1; }
	
	// 写法二：不正确
	if (window.x) { return 1; }
	
	// 写法三：正确
	if ('x' in window) { return 1; }
	//上面三种写法之中，如果x不存在，第一种写法会报错；如果x的值对应布尔值false（比如x等于空字符串），
	//第二种写法无法得到正确结果；只有第三种写法，才能正确判断变量x是否存在
	
	//in运算符的一个问题是，它不能识别对象继承的属性
	var o = new Object();
	o.hasOwnProperty('toString') // false
	'toString' in o // true
};
//2.7for...in循环
window.onload = function(){
	var o = {a:1,b:2,c:3};
	for(var i in o){
		console.log(o[i]);
	}
	var obj = {
			x:1,
			y:2
	};
	var props = [];
	var i = 0;
	for(props[i++] in obj);
	window.alert(props);
	//for...in循环有两个使用注意点
	/* 它遍历的是对象所有可遍历（enumerable）的属性，会跳过不可遍历的属性
	它不仅遍历对象自身的属性，还遍历继承的属性。 */
	//name 是 Person 本身的属性
	function Person(name){
		this.name = name;
	}
	//describe是Person.prototype的属性
	Person.prototype.describe = function(){
		return 'Name:' +  this.name;
	};
	var person = new Person('Jane');
	// for...in循环会遍历实例自身的属性（name），
	// 以及继承的属性（describe）
	for(var key in person){
		console.log(key);
		// name
		// describe
	}
	for(var key in person){
		if(person.hasOwnProperty(key)){
			console.log(key);//name
		}
	}
	//一般情况下，都是只想遍历对象自身的属性，所以不推荐使用for...in循环
};
//3with语句
window.onload = function(){
	//它的作用是操作同一个对象的多个属性时，提供一些书写的方便。
	//例一
	with(o){
		p1 = 1;
		p2 = 2;
	}
	//等同于
	o.p1 = 1;
	o.p2 = 2;
	
	//例二
	with(document.links[0]){
		console.log(href);
		console.log(title);
		console.log(style);
	}
	// 等同于
	console.log(document.links[0].href);
	console.log(document.links[0].title);
	console.log(document.links[0].style);
	
	var o = {};

	with (o) {
	  x = "abc";
	}

	o.x // undefined
	x // "abc"
	///////////
	var o = {};
	o.x = 1;

	with (o) {
	  x = 2;
	}

	o.x // 2
	//这是with语句的一个很大的弊病，就是绑定对象不明确。
	with(o1.o2.o3) {
		  console.log(p1 + p2);
		}

	// 可以写成

	var temp = o1.o2.o3;
	console.log(temp.p1 + temp.p2);
	
	//with语句少数有用场合之一，就是替换模板变量
	var str = 'Hello <%= name %>!';
	//上面代码是一个模板字符串。假定有一个parser函数，可以将这个字符串解析成下面的样子
	parser(str)
    // '"Hello ", name, "!"'
    //那么，就可以利用with语句，进行模板变量替换。
    var str = 'Hello <%= name %>!';

	var o = {
	  name: 'Alice'
	};
	
	function tmpl(str, obj) {
	  str = 'var p = [];' +
	    'with (obj) {p.push(' + parser(str) + ')};' +
	    'return p;'
	  var r = (new Function('obj', str))(obj);
	  return r.join('');
	}
	
	tmpl(str, o)
	// "Hello Alice!"
	//上面代码的核心逻辑是下面的部分
	var o = {
	  name: 'Alice'
	};
	
	var p = [];
	
	with (o) {
	  p.push('Hello ', name, '!');
	};
	
	p.join('') // "Hello Alice!"
	//上面代码中，with区块内部，模板变量name可以被对象o的属性替换，而p依然是全局变量。这就是很多模板引擎的实现原理
};
//4参考链接
</script>
</head>
<body>
</body>
</html>
